<p id="notice"><%= notice %></p>

<h1>Homewords</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homewords.each do |homeword| %>
      <tr>
        <td><%= homeword.user_id %></td>
        <td><%= homeword.description %></td>
        <td><%= homeword.deadline %></td>
        <td><%= homeword.subject_id %></td>
        <td><%= link_to 'Show', homeword %></td>
        <td><%= link_to 'Edit', edit_homeword_path(homeword) %></td>
        <td><%= link_to 'Destroy', homeword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homeword', new_homeword_path %>
