<p id="notice"><%= notice %></p>

<h1>Lecture Halls</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecture_halls.each do |lecture_hall| %>
      <tr>
        <td><%= lecture_hall.user_id %></td>
        <td><%= lecture_hall.name %></td>
        <td><%= lecture_hall.description %></td>
        <td><%= link_to 'Show', lecture_hall %></td>
        <td><%= link_to 'Edit', edit_lecture_hall_path(lecture_hall) %></td>
        <td><%= link_to 'Destroy', lecture_hall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture Hall', new_lecture_hall_path %>
