<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lecture_hall.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lecture_hall.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture_hall.description %>
</p>

<%= link_to 'Edit', edit_lecture_hall_path(@lecture_hall) %> |
<%= link_to 'Back', lecture_halls_path %>
