<p id="notice"><%= notice %></p>

<h1>Chemestries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chemestries.each do |chemestry| %>
      <tr>
        <td><%= chemestry.user_id %></td>
        <td><%= chemestry.name %></td>
        <td><%= chemestry.start_date %></td>
        <td><%= chemestry.end_date %></td>
        <td><%= link_to 'Show', chemestry %></td>
        <td><%= link_to 'Edit', edit_chemestry_path(chemestry) %></td>
        <td><%= link_to 'Destroy', chemestry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chemestry', new_chemestry_path %>
