<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chemestry.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chemestry.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @chemestry.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @chemestry.end_date %>
</p>

<%= link_to 'Edit', edit_chemestry_path(@chemestry) %> |
<%= link_to 'Back', chemestries_path %>
